@page "/parent2"

<h3>Parent2</h3>

@* <Child2 MaxLength="10" Placeholder="Eneter" Required="required"></Child2> *@
@* <Child2 MyAttributes="" Required=""></Child2> *@

<Child2 Required="required" placeholder="Enter Your Name" width="100"></Child2>  
@* placeholder="Enter Your Name" will Added to dictionary *@

@code {
    // Declare Dictionary
}
